@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark: #1a1e2c;
  --gray: #8e94a7;
  --light-gray: #e7e9f0;
  --status: #00d455;
  --accent: #0346f2;
  --light-accent: #f2f5fe;
  --primary-font: 'Source Sans Pro', Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  background: #f6f7fb;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: inherit;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

nav > * {
  cursor: pointer;
}

.header-divider {
  border-right: 1px solid #e7e9f0;
  width: 1px;
  height: 48px;
  margin: 0 1rem;
}

#main-content {
  max-width: 1280px;
  margin: 2rem auto;
  display: flex;
  align-items: flex-start;
}

#input {
  width: 400px;
  min-width: 400px;
}

#output {
  width: 800px;
}

.main-card {
  background: #ffffff;
  border: 0.5px solid #ebebf9;
  box-sizing: border-box;
  box-shadow: 8px 8px 16px 4px rgba(137, 143, 150, 0.04);
  border-radius: 20px;
  margin: 20px;
  padding: 32px;
}

.card-header {
  padding: 0;
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

label {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #8e94a7;
}

#add-entity-button {
  color: var(--status);
  cursor: pointer;
  transition: 0.3s;
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark);
  margin: 0;
}

input.entity-name {
  border: none;
  padding: 1.5rem 0.2rem;
  border-bottom: 1px solid var(--light-gray);
  color: var(--gray);
  font-size: 14px;
  line-height: 24px;
}

input.entity-name::placeholder {
  color: var(--light-gray);
}

#search-button {
  width: 100%;
  background-color: var(--accent);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  height: 52px;
  transition: 0.3s;
}

#search-button:hover,
#add-entity-button:hover {
  filter: drop-shadow(4px 4px 5px rgba(143, 143, 143, 0.25));
}

#years-range-group label {
  margin: 0;
}

#years-range-group {
  padding-bottom: 1.75rem;
  border-bottom: 1px solid var(--light-gray);
}
